@import url(./index.css);

.info-card h1 {
  margin-bottom: 2rem;
}

section .info-card {
  min-height: 160px;
  bottom: -90px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}


.about-image img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  object-fit: cover;
}

