@import url(./default.css);


form { 
  display: grid;
  gap: 1rem;
  padding: 2rem 2.2rem;
  align-items: center;
  justify-content: center;
}

form button {
  width: fit-content;
}

.register-form-section aside {
  padding: 0.5rem 3rem;

}


@media (min-width:768px) {
 form {
  grid-template-columns:repeat(2,  minmax(0,1fr));
  padding: 3rem 5rem;
 }

 form button {
  grid-column: 2;
  width: auto;
 }

 .register-form-section aside {
  padding: 0.2rem 5rem;

}

}